.checkout__ad{
width: 100%;
height:100px;
margin-bottom:1%;
}
.product{
width: 80%;
}
.Checkout{
  margin-bottom: 1%;
}
.Checkout_container
{
  margin:3%;
}
.Checkout_container > .product {
    margin-top: 2%;
}